.dashBoard{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    /* background-color: red; */
    flex-direction: row;
    background-color: #33845e;
}

.rightSide{
    width: calc(100vw - 240px);
    min-height: 100vh;
    background-color: #33845e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px 15px 10px
}


.mainDivInRight{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #edeffd;
    border-radius: 20px;
    /* padding: 10px; */
}

.dashboard_div , .Suggestion_div , .Disease_div , .MarketPlace_div{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: #FCFCFC; */
    border-radius: 20px;
    padding: 30px;
}

.Suggestion_div{
    background-color: #edeffd;
    display: flex;
    flex-direction: column;
}
.Suggestion_div p {
    /* padding-left: 15px; */
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
}
.Disease_div{
    /* background-color: lightblue; */
}
.MarketPlace_div{
    background-color: lightcoral;
}

.input_area{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    max-width: 1920px;
}

.inputs{
    /* background-color: sandybrown; */
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
}

.entry {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* background-color: saddlebrown; */
    max-width: 550px;
}

.entry p {
    padding: 10px;
    width: 200px;
    font-weight: 600;

}

.entry input {
    padding: 10px 10px;
    min-width: 250px;

    border: none;
    border-radius: 5px;
}

.small{
    min-width: 200px;
}


.entry button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    outline: none;
    border-radius: 2px;
    border: none;
    background-color: rgb(10, 65, 136);
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.entry{
    /* background-color: salmon; */
    max-width: 40%;
}
.ent3 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    margin-top: 25px;
    max-width: 1920px;
}
.double{
    min-width: 100vh ;
    /* background-color: saddlebrown; */
    display: flex;
    /* justify-content: space-between; */
    gap: 80px;
}
.suggestion_output{
    /* background-color: yellow; */
    padding-top: 15px;
    font-size: 14px;
}
.suggestion_output h4{
    display: inline;
    font-size: 16px;
    text-transform: capitalize;
}

.ent3 button{
    cursor: pointer;
}
.ent3 button:hover{
    background-color: rgba(10, 65, 136, 0.861) ;
}