body {
    max-width: 1920px;

}
.shadow{
-webkit-box-shadow: 0px 0px 39px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 39px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 39px -18px rgba(0, 0, 0, 0.75);
}
.dashboard_div{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
}

.farmNameDiv , .cropInfoDiv , .statistics , .graph{
    width: 100%;
    display: flex;
    height: 60px;
    /* background-color: salmon; */
    padding: 10px 20px;
    max-width: 1440px;
}
.farmNameDiv{
    align-items: center;
    justify-content: space-between;
    
}

.farmNameDiv h4{
    font-size: 26px;
    font-weight: 700;
}

.farmNameDiv button{
    padding: 10px 25px;
    border-radius: 9px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(54, 149, 54);
    color: white;
}

.statistics{
    height: 300px;
    /* background-color: yellow; */
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 30px;
}
.statistics .weatherDiv{
    width: 33%;
    height: 100%;
    max-width: 350px;
    /* background-color: skyblue; */
    display: flex;
}
.statistics .financials{
    height: 100%;
    width: 60%;
    max-width: 550px;
    background-color: greenyellow;
    display: flex;
}
.graph{
    height: 150px;
    background-color: red;
}
.cropInfoDiv {
    height: 110px;
    /* background-color: green; */
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.CropInfoDivision{
    width: 33%;
    height: 100%;
    /* background-color: lightblue; */
    max-width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    /* padding-left: 25px; */
}
.division_left{
    width: 30%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 15px; */
}
.division_left i{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF2E5;
    border-radius: 50%;
    font-size: 20px;
}

.division_right{
    width: 70%;
    height: 100%;
    display: flex;
    /* background-color: sandybrown; */
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.division_right p , .weatherDivDivison p{
    font-size: 13px;
    font-weight: 500;
    color: #333333;
}
.division_right h6 , .weatherDivDivison h6{
    font-size: 20px;
    font-weight: 700;
}
.weatherDiv{
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}
.weatherDivDivison{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 5px 0;
    padding-left: 20%;
}
.weatherDivDivison h6{
    font-size: 24px;
    color: #333333;
    font-weight: 600;
}
.weatherDivDivison p {
    font-size: 14px;
    font-weight: 600;
}
.borderBottom{
    border-bottom: 1px solid gainsboro;
}
